.listespaces-container {
  margin: 20px;
}

.listespaces-title {
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
}

.image-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.actions-container button {
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.actions-container button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.actions-container button.mat-icon-button .mat-icon {
  font-size: 18px;
  line-height: 1;
}

.bttn {
  margin: 20px;
  text-align: center;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.search-container mat-form-field {
  width: 300px;
  margin-right: 10px;
}

#map {
  height: 500px;
  margin-top: 20px;
}
.button-red {
  background-color: red !important;
  color: white !important;
}
