
<h2 class="listreservations-title">Liste des réservations</h2>
<div *ngIf="reservations" class="listreservations-container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Club organisateur</th>
        <th>Type d'événement</th>
        <th>Participants attendus</th>
        <th>Heure de début</th>
        <th>Heure de fin</th>
        <th>Espaces réservés</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.datedebut | date: 'short' }}</td>
        <td>{{ reservation.datefin | date: 'short' }}</td>
        <td>{{ reservation.clubOrganisateur }}</td>
        <td>{{ reservation.typeEvenement }}</td>
        <td>{{ reservation.nombreParicipantsAttendus }}</td>
        <td>{{ reservation.heureDebut }}</td>
        <td>{{ reservation.heureFin }}</td>
        <td>
          {{ reservation.espacenName }}
          </td>
        <td>
          <button mat-raised-button class="button-red" style="margin-top: 10px;" (click)="editReservation(reservation)">edit</button>
          <button mat-raised-button class="button-red" style="margin-top: 10px;" (click)="deleteReservation(reservation.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bttn">    
  <button mat-raised-button class="button-red"  (click)="showAddReservationModal()">Ajouter une réservation</button>
</div>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2 style="text-align: center;">{{ editMode ? 'Modifier Réservation' : 'Ajouter une Réservation' }}</h2>
    <br>
    <form (ngSubmit)="submitForm()"style="margin-bottom: 20px;">
      <span style="display: inline-block; margin-right: 10px;">
      <label for="datedebut">Date de début:</label>
      <input type="date" id="datedebut" [(ngModel)]="selectedReservation.datedebut" name="datedebut" required>
    </span>

    <span style="display: inline-block; margin-right: 10px;">
      <label for="datefin">Date de fin:</label>
      <input type="date" id="datefin" [(ngModel)]="selectedReservation.datefin" name="datefin" required>
    </span>
    <span style="display: inline-block; margin-right: 10px;"> 
      <label for="clubOrganisateur">Club organisateur:</label>
      <input type="text" id="clubOrganisateur" [(ngModel)]="selectedReservation.clubOrganisateur" name="clubOrganisateur" required>
    </span>
    <span style="display: inline-block; margin-right: 10px;">
      <label for="typeEvenement">Type d'événement:</label>
      <input type="text" id="typeEvenement" [(ngModel)]="selectedReservation.typeEvenement" name="typeEvenement" required>
    </span>
      <span style="display: inline-block; margin-right: 10px;">
      <label for="nombreParicipantsAttendus">Participants attendus:</label>
      <input type="number" id="nombreParicipantsAttendus" [(ngModel)]="selectedReservation.nombreParicipantsAttendus" name="nombreParicipantsAttendus" required>
      </span>
      <span style="display: inline-block; margin-right: 10px;">
      <label for="heureDebut">Heure de début:</label>
      <input type="time" id="heureDebut" [(ngModel)]="selectedReservation.heureDebut" name="heureDebut" required>
      </span>
      <span style="display: inline-block; margin-right: 10px;">
      <label for="heureFin">Heure de fin:</label>
      <input type="time" id="heureFin" [(ngModel)]="selectedReservation.heureFin" name="heureFin" required>
      </span>
      <span style="display: inline-block; margin-right: 10px;">
      <label for="espace">Espace:</label>
      <select id="espace" [(ngModel)]="selectedReservation.espace" name="espace" required>
        <option *ngFor="let espace of espaces" [ngValue]="espace">{{ espace.nom }}</option>
      </select>
      </span>
      
      <br>
      <button mat-raised-button class="button-red" style="margin-top: 10px;" type="submit">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  </div>
</div>

<div>
  <h2>Statistiques</h2>
  <div id="myChartContainer" style="width: 100%; height: 300px;">
    <canvas id="myChart"></canvas>
  </div>
</div>