.container {
  background-color: #ffffff; /* Fond blanc */
  padding: 20px;
  border: 1px solid #ddd; /* Bordure légère */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

h2 {
  color: #333; /* Couleur du texte pour le titre */
}

p {
  color: #666; /* Couleur du texte pour les paragraphes */
}

.img-thumbnail {
  border: 1px solid #ddd; /* Bordure légère pour l'image */
  border-radius: 4px; /* Coins légèrement arrondis pour l'image */
}

.btn-primary {
  background-color: #007bff; /* Couleur de fond du bouton */
  border-color: #007bff; /* Couleur de la bordure du bouton */
  color: white; /* Couleur du texte du bouton */
}

.btn-primary:hover {
  background-color: #0056b3; /* Couleur de fond du bouton au survol */
  border-color: #0056b3; /* Couleur de la bordure du bouton au survol */
}
