.update-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .update-button:hover {
    background-color: #0056b3;
  }
  .delete-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #dc3545; /* Rouge pour le bouton Delete */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #c82333; /* Rouge plus foncé au survol */
  }
  #myChartContainer {
    max-width: 600px; /* Ajustez la largeur selon vos besoins */
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    margin: auto;
  }
  
  
  