<h2>{{ covoiturage.id ? 'Modifier' : 'Créer' }} un Covoiturage</h2>
<form (ngSubmit)="saveCovoiturage()">
  <label for="heureDepart">Heure de départ:</label>
  <input id="heureDepart" [(ngModel)]="covoiturage.heureDepart" name="heureDepart" type="date" required>
  <div *ngIf="isDateInvalid()" class="error-message">
    La date de départ doit être postérieure à aujourd'hui.
  </div>
  <label for="lieuDepart">Lieu de départ:</label>
  <input id="lieuDepart" [(ngModel)]="covoiturage.lieuDepart" name="lieuDepart" required>
  <label for="destination">Destination:</label>
  <input id="destination" [(ngModel)]="covoiturage.destination" name="destination" required>
  <label for="nbPlace">Nombre de places:</label>
  <input id="nbPlace" type="number" [(ngModel)]="covoiturage.nbPlace" name="nbPlace" required>
  <label for="status">Statut:</label>
  <select id="status" [(ngModel)]="covoiturage.status" name="status" required>
    <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
  </select>
  <button type="submit">{{ covoiturage.id ? 'Mettre à jour' : 'Créer' }}</button>
</form>
