<div class="container mt-4">
  <div *ngIf="club" class="card shadow-lg border-0">
      <div class="row g-0">
          <!-- Image du club -->
          <div class="col-md-4">
              <img *ngIf="club.photo" [src]="club.photo" class="img-fluid rounded-start" alt="Club Photo">
          </div>
          <!-- Détails du club -->
          <div class="col-md-8">
              <div class="card-body">
                  <h2 class="card-title">      {{ club.nom }}</h2>
                  <p class="card-text">Objectif : {{ club.objectif }}</p>
                  <p class="card-text">Date : {{ club.date | date }}</p>
                  <p class="card-text mt-2">Loyalty points : {{ club.pointsFidelite }}</p>

                  <!-- Boutons -->
                  <div class="d-flex justify-content-between align-items-center mt-4">
                      <button class="btn btn-primary" (click)="downloadPdf(club.id)">
                          <fa-icon [icon]="faFilePdf"></fa-icon> Download PDF
                      </button>
                      <a [attr.href]="generateQRCodeUrl(club.id)" target="_blank" class="btn btn-outline-secondary">
                          <fa-icon [icon]="faQrcode"></fa-icon> Generate QR Code
                      </a>
                      <button class="btn btn-secondary" [routerLink]="['/club']">
                          <fa-icon [icon]="faArrowLeft"></fa-icon> Return to club list
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
