
<div class="container">
  <h2>Modifier l'événement</h2>
  <form [formGroup]="updateForm" (ngSubmit)="onUpdateEvenement()">
    <div class="form-group">
      <label for="nom">Nom de l'événement:</label>
      <input type="text" class="form-control" id="nom" formControlName="nom">
      <small
        *ngIf="updateForm.get('nom')?.invalid && updateForm.get('nom')?.touched"
        class="text-danger">
        Le nom est requis.
      </small>
    </div>

    <div class="form-group">
      <label for="date">Date de l'événement:</label>
      <input type="date" class="form-control" id="date" formControlName="date">
      <small
        *ngIf="updateForm.get('date')?.invalid && updateForm.get('date')?.touched"
        class="text-danger">
        La date est requise.
      </small>
    </div>

    <div class="form-group">
      <label for="dateFin">Date Fin de l'événement:</label>
      <input type="date" class="form-control" id="dateFin"
        formControlName="dateFin">
      <small
        *ngIf="updateForm.get('dateFin')?.invalid && updateForm.get('dateFin')?.touched"
        class="text-danger">
        La date de fin est requise.
      </small>
    </div>

    <div *ngIf="updateForm.get('dateFin')?.value" class="mt-2">
      Date de fin sélectionnée : {{ updateForm.get('dateFin')?.value | date }}
    </div>

    <div class="form-group">
      <label for="statut">Statut:</label>
      <input type="text" class="form-control" id="statut"
        formControlName="statut">
      <small
        *ngIf="updateForm.get('statut')?.invalid && updateForm.get('statut')?.touched"
        class="text-danger">
        Le statut est requis.
      </small>
    </div>

    <div class="form-group">
      <label for="siteweb">Site web:</label>
      <input type="text" class="form-control" id="siteweb"
        formControlName="siteweb">
      <small
        *ngIf="updateForm.get('siteweb')?.invalid && updateForm.get('siteweb')?.touched"
        class="text-danger">
        Le site web est requis.
      </small>
    </div>

    <div class="form-group">
      <label for="capacite">Capacité:</label>
      <input type="number" class="form-control" id="capacite"
        formControlName="capacite">
      <small
        *ngIf="updateForm.get('capacite')?.invalid && updateForm.get('capacite')?.touched"
        class="text-danger">
        La capacité est requise.
      </small>
    </div>

    <div class="form-group">
      <label for="nbrParticipant">Nombre de participants :</label>
      <input type="number" class="form-control" id="nbrParticipant"
        formControlName="nbrParticipant">
      <small
        *ngIf="updateForm.get('nbrParticipant')?.invalid && updateForm.get('nbrParticipant')?.touched"
        class="text-danger">
        Le nombre de participants est requis.
      </small>
    </div>

    <div class="form-group">
      <label for="affiche">Affiche:</label>
      <input type="file" class="form-control" id="affiche"
        (change)="onFileChangeAffiche($event)">
      <small
        *ngIf="updateForm.get('affiche')?.invalid && updateForm.get('affiche')?.touched"
        class="text-danger">
        L'affiche est requise.
      </small>
    </div>

    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
</div>
