
<h5>Dashboard</h5>
<iframe title="formation" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=830efae9-cf90-4402-8816-ab28302b71da&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
<iframe title="EspaceReservation" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=0d2db667-80b7-4f4b-a9e8-2b31eef395aa&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
<iframe title="covoiturage" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ef30d09c-cab8-4017-a850-966ffeeedaca&autoAuth=true&ctid=09fb66ea-89f3-4a6c-a6f6-97f22b2f3ee2" frameborder="0" allowFullScreen="true"></iframe>
<div class="w-25">
    <canvas id="userRolesChart" width="200" height="200"></canvas>
</div>
<div class="w-25">
    <canvas id="reclamationStatuschart" width="200" height="200"></canvas>
</div>
