<form (ngSubmit)="save()" #clubForm="ngForm">
  <label for="nom">Nom:</label>
  <input id="nom" [(ngModel)]="club.nom" name="nom" placeholder="Entrez le nom du club" required>
  <div *ngIf="clubForm.controls['nom'].invalid && clubForm.controls['nom'].touched">
    <span style="color: red;">Le nom est obligatoire.</span>
  </div>
  <br>

  <label for="objectif">Objectif:</label>
  <textarea id="objectif" [(ngModel)]="club.objectif" name="objectif" placeholder="Entrez l'objectif du club" required></textarea>
  <div *ngIf="clubForm.controls['objectif'].invalid && clubForm.controls['objectif'].touched">
    <span style="color: red;">L'objectif est obligatoire.</span>
  </div>
  <br>

  <label for="date">Date:</label>
  <input id="date" type="date" [(ngModel)]="club.date" name="date" required>
  <div *ngIf="clubForm.controls['date'].invalid && clubForm.controls['date'].touched">
    <span style="color: red;">La date est obligatoire.</span>
  </div>
  <br>

  <label for="latitude">Latitude:</label>
  <input id="latitude" type="number" step="any" [(ngModel)]="club.latitude" name="latitude" placeholder="Entrez la latitude">
  <br>

  <label for="longitude">Longitude:</label>
  <input id="longitude" type="number" step="any" [(ngModel)]="club.longitude" name="longitude" placeholder="Entrez la longitude">
  <br>

  <!-- Désactiver le bouton "Save" si le formulaire n'est pas valide -->
  <button type="submit" [disabled]="!clubForm.valid">Enregistrer</button>
</form>
