<div class="bg d-flex flex-column justify-content-center align-items-center" style="background-color: whitesmoke; background-repeat: no-repeat; background-size: cover; height: 100vh;">
    <div class="container">
        <div class="logo">
            <h1 class="text-center text-danger" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">Espritia</h1>
        </div>
        <div class="card shadow mt-5">
            <div class="card-header bg-danger text-white">
                <h3 class="mb-0 text-center">Reset password</h3>
            </div>
            <div class="card-body">
                <form (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="Enter your email" name="email" class="form-control" [(ngModel)]="email" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger btn-block">Send</button>
                    </div>
                    <div class="bg-danger p-2 rounded text-white mt-3" *ngIf="error">
                        {{ error }}
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  