.update-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #28a745; /* Vert pour le bouton Update */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .update-button:hover {
    background-color: #218838; /* Vert plus foncé au survol */
  }
  